.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(../images/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container {
    display: flex;
    align-items: center;
   /* gap: 1em;*/
}

.container__image {
   padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}


.container__botao:checked ~ .lista-menu {
     display: block;
}

.lista-menu__titulo,.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}


.lista-menu__link {

    color:  rgba(0, 47, 82, 1) ;
    text-decoration: none;
    
}

.container__botao, .opcoes {
    display: none;
}

.container__titulo { display: none;}

@media screen and (min-width: 1024px) {
    
    .container__titulo, .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
    }

    .container__titulo{
        font-weight: 400;
        display: block;
    }
    .container__titulo--negrito{font-weight: 700;}

    .opcoes{
        display: flex;
    }
    .opcoes__item{
        padding:0    1em ;
        text-transform: uppercase;
    }

    .opcoes__item a {
        text-decoration: none;
        color: #000;
    }

    .transparente, .cabecalho__menu-hamburguer {
        display: none;
    }
    .opcao__botao {
        display: none;
    }

    .opcao__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

}




